{{#extends "main"}}
{{#block "content"}}
<h1>Restaurar Contraseña</h1>
<form action="/api/users/restore-password" method="POST">
    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" name="email" required>
    
    <button type="submit">Restaurar Contraseña</button>
</form>
{{/block}}
